.stats {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(187, 176, 176);
  flex-basis: calc((100% - 6 * 1px) / 3);
  align-items: center;
  padding: 20px 0;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}

.quantity {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}
